<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Tutes</title>
    <%- include('sections/links')%>
    <style>
        #subzoom {
            transition: transform .2s;

        }

        #subzoom:hover {
            transform: scale(1.02);
        }
    </style>
</head>

<body>
    <%- include('sections/navBar',{user:user, notification:notification})%>
    <div style="height:90px;"></div>


    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: rgb(68, 68, 68);">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/subject"><i class="fa fa-book"></i> Change Subject</a>
            </li>
        </ul>
    </nav>

    <div class="container row">
        <% if(files){ %>
        <% files.forEach(function(file) { %>
        <% if(file.isImage) { %>
        <img src="image/<%= file.filename %>" alt="">
        <% } else { %>
        ​<div class="col-md-3 cards float-left my-2" id="subzoom">
            <div class="card p-3 card-content">
                <div class="text-info text-center mt-3">
                    <div class="text-danger text-center mt-2">
                        <div class="card-img m-0 p-0 imageOverText">
                            <img src="https://store-images.s-microsoft.com/image/apps.34961.13510798887621962.47b62c4c-a0c6-4e3c-87bb-509317d9c364.a6354b48-c68a-47fa-b69e-4cb592d42ffc?mode=scale&q=90&h=300&w=300"
                                alt="pdf" class="img-circle w-100">
                        </div>
                        <h5 class="centered"><%= file.metadata["title"] %></h5>
                        <p class="card-text"><%= file.metadata["description"] %></p>
                        <a href="/files/<%= file.filename %>" target="_blank">
                            <h6 class="centered"><%= file.filename %></h6>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <% }) %>
        <% } else { %>
        <h4>No files to show</h4>
        <% } %>
    </div>
    </div>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>